img {
	width: 250px;
	float: left;
	margin: 1.66%;
}

p {
	font-family: piedra;
	margin: 1.66%;
	font-size: 75px;
	border-bottom: 2px solid #F1F1F1;
	padding-bottom: 20px;
	width: 35%;
	font-weight: 800;
	text-transform: uppercase;
}

h4 {
	font-family: piedra;
	margin: 1.66%;
	font-size: 23px;

}