<% include ./partials/header %>


<div class ="ui main text containr segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <input type="text" name="blog[title]" placeholder="Title:">
        </div>
        <div class="field">
            <input type="text" name="blog[image]" placeholder="Image">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]"></textarea>
        </div>
        <div class="field">
            <input class ="ui gray inverted button" type="SUBMIT">
        </div>
    </form>
</div>


<% include ./partials/footer %>